[submodule "calendar-card"]
	path = calendar-card
	url = https://github.com/ljmerza/calendar-card.git
[submodule "waze-card"]
	path = waze-card
	url = https://github.com/ljmerza/waze-card.git
[submodule "lovelace-card-boilerplate"]
	path = lovelace-card-boilerplate
	url = https://github.com/ljmerza/lovelace-card-boilerplate.git
