[submodule "calendar-card"]
	path = calendar-card
	url = https://github.com/ljmerza/calendar-card.git
[submodule "waze-card"]
	path = waze-card
	url = https://github.com/ljmerza/waze-card.git
[submodule "lovelace-card-boilerplate"]
	path = lovelace-card-boilerplate
	url = https://github.com/ljmerza/lovelace-card-boilerplate.git
[submodule "mqtt-led-strip-card"]
	path = mqtt-led-strip-card
	url = git@github.com:ljmerza/mqtt-led-strip-card.git
[submodule "fitbit-card"]
	path = fitbit-card
	url = git@github.com:ljmerza/fitbit-card.git
